@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

li a,
.card-text {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

div h2,
.card-header {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.service-color {
    /* background: #f749c9; */
    background: #ff66ff;
}

.service-image {
    display: block;
    width: 15rem;
    height: 15rem;
}
.project-text{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#home{
    background: linear-gradient(to top left, #993399 50%, #9900cc 50%);
}
#logo{
    height: 350px;
}
#Services{
    background-color: #cc66ff;
}
#Projects{
    background: linear-gradient(to bottom, #ff6666 0%, #ff66cc 100%);
}
#contect{
    background: linear-gradient(to top left, #66ffcc 0%, #ff99cc 100%);
}

footer{
    background: linear-gradient(to top right, #ccffcc 0%, #ff66cc 100%);
}
